<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} [%-5level] %msg%n"/>
        </Console>
        <File name="File" filename="c:\CV-Automation\test-log4j.log">
            <PatternLayout pattern="%d{dd-MMM-yyyy HH:mm:ss.SSS} [%-5level] %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
        <!-- <Root level="debug">
          <AppenderRef ref="Console"/>
          <AppenderRef ref="File"/>
        </Root>
        <Root level="error">
          <AppenderRef ref="Console"/>
          <AppenderRef ref="File"/>
        </Root>
        <Root level="info">
          <AppenderRef ref="Console"/>
          <AppenderRef ref="File"/>
        </Root>
        <Root level="trace">
          <AppenderRef ref="Console"/>
          <AppenderRef ref="File"/>
        </Root>
        <Root level="warn">
          <AppenderRef ref="Console"/>
          <AppenderRef ref="File"/>
        </Root> -->
    </Loggers>
</Configuration>